@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,615&display=swap');


html{
    margin: 0;
}
body {
    margin: 0;
    font-family: "EB Garamond";
    color: #424949;
}

/* HEADER */
header {
    background-color: #F8F9F9;
    height: 60px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 29px 0px rgba(134, 134, 134, 0.25);
}
    
.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.menu li {
    margin: 15px;
}

.hamburguesa {
    width: 30px;
    height: 30px;
    display: none;
}

.hola, .conocimientos, .proyectos, .contacto-footer {
    font-size: 20px;
    
}
.contacto {
    font-size: 20px;
    background-color: #F9BCF5;
    border: 1.5px solid #F9BCF5;
    border-radius: 50px;
    padding: 5px;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #424949;
}
.contacto:hover {
    background-color: #E4C8EF;
}
ul {
    list-style: none;
}

/* SECCION PRESENTACION */
.seccion-presentacion {
    background-color: #F8F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.texto {
    height: 250px;
    width: 400px;
    display: block;
}
.bio-1 {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    margin: 2px;
}
.name {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    margin: 2px;
    color: #F9BCF5;
}
.bio-2 {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    margin: 2px;
}
.boton-github {
    background-color: #F9BCF5;
    border: 1.5px solid #F9BCF5;
    border-radius: 50px;
    font-family: "EB Garamond";
    font-size: 20px;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
}

.boton-github:hover {
    background-color: #E4C8EF;
}
.imagen {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.img-presentacion {
    width: 100%;
    height: auto;
}

/* SECCION CONOCIMIENTOS */

.seccion-conocimientos {
    background-color: #F4F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.descripcion-conocimientos {
    font-size: 25px;
    max-width: 800px;
    padding-bottom: 40px;
}
.contenedor-tarjetas {
    background-color: #F4F6F6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
}

.tarjeta {
    background-color: #FCFCFC;
    height: 180px;
    width: 180px;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-tarjeta {
    width: 100px;
    height: auto;
}

.titulo-tarjeta {
    font-family: "EB Garamond";
    font-size: 20px;
    margin: 10px;
}

.nombre-seccion {
    font-size: 50px;

}

/* SECCION CITA */

.seccion-cita {
    background-color: #D5D5D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.cita {
    font-size: 30px;
    text-align: center;
    max-width: 700px;
}
.autor {
    font-size: 20px;
}

/* SECCION PROYECTOS */

.seccion-proyectos{
    background-color: #F4F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;

}

.contenedor-proyectos {
    background-color: #F4F6F6;
    display: flex;
    flex-wrap: wrap;
    max-width: 757px;
}

.tarjeta {
    background-color: #FCFCFC;
    height: 180px;
    width: 180px;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-tarjeta {
    width: 100px;
    height: auto;
}

.titulo-tarjeta {
    font-family: "EB Garamond";
    font-size: 20px;
    margin: 10px;
}

.menu-proyectos{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.menu-proyectos li{
    margin: 20px;
}

.todos {
    font-family: "EB Garamond";
    font-size: 20px;
    background-color: #F9BCF5;
    border: 1.5px solid #F9BCF5;
    border-radius: 50px;
    padding: 10px;
}
.html-css, .javascript, .react {
    font-family: "EB Garamond";
    font-size: 20px;
    background-color: transparent;
    border: 0;
    padding: 10px;
}

/* FOOTER */
footer {
    background-color: #9099A2;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.menu-footer, .menu-redes{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.menu-footer li, .menu-redes li{
    margin: 15px;
}
.menu-redes {
    font-size: 30px;
}

/* DISEÑO RESPONSIVE */
@media(max-width:600px) {
    nav {
        display:none;
    }
    .hamburguesa {
        display: flex;
        
    }
    .contenedor-imagen {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        padding-top: 20px;
    }
    .body {
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media(max-width:900px) {
    .seccion-presentacion {
        flex-wrap: wrap;
    }
    .contenedor-proyectos {
        justify-content: center;
    }
}
