@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,615&display=swap');


html{
    margin: 0;
}
body {
    height: 100%;
    margin: 0;
}

/* HEADER */
header {
    background-color: #F8F9F9;
    height: 60px;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25;
}
    


.menu {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 20px; */
    margin-top: 0;
}

.menu li {
    margin: 15px;

}

.hamburguesa {
    width: 30px;
    height: 30px;
    display: none;
}

/* SECCION PRESENTACION */
.seccion-presentacion {
    background-color: #F8F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.texto {
    height: 250px;
    width: 400px;
    display: block;
}
.bio-1 {
    font-family: 'EB Garamond', serif;
    font-size: 40px;
    margin: 2px;
}
.name {
    font-family: 'EB Garamond', serif;
    font-size: 70px;
    margin: 2px;
}
.bio-2 {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    margin: 2px;
}
.boton-github {
    background-color: lightslategray;
    border: 2.5px solid grey;
    border-radius: 20px;
    color: black;
    font-family: "EB Garamond";
    font-size: 20px;
    padding: 20px;
    margin-top: 8px;
    text-align: center;
}

.imagen {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.img-presentacion {
    width: 100%;
    height: auto;
}

/* SECCION CONOCIMIENTOS */

.seccion-conocimientos {
    background-color: #96858F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}
.descripcion-conocimientos {
    font-family: "EB Garamond";
    font-size: 20px;
    max-width: 800px;
}
.contenedor-tarjetas {
    background-color: #96858F;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    height: 500px;
}

.tarjeta {
    background-color: #FCFCFC;
    height: 180px;
    width: 180px;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-tarjeta {
    width: 100px;
    height: auto;
}

.titulo-tarjeta {
    font-family: "EB Garamond";
    font-size: 20px;
    margin: 10px;
}

/* SECCION CITA */

.seccion-cita {
    background-color: #D5D5D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

/* SECCION PROYECTOS */

.seccion-proyectos{
    background-color: #96858F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;

}
.descripcion-conocimientos {
    font-family: "EB Garamond";
    font-size: 20px;
    max-width: 800px;
}
.contenedor-proyectos {
    background-color: #96858F;
    display: flex;
    flex-wrap: wrap;
    max-width: 757px;
    height: 800px;
}

.tarjeta {
    background-color: #FCFCFC;
    height: 180px;
    width: 180px;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 10px;
    padding: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-tarjeta {
    width: 100px;
    height: auto;
}

.titulo-tarjeta {
    font-family: "EB Garamond";
    font-size: 20px;
    margin: 10px;
}

.menu-proyectos{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.menu-proyectos li{
    margin: 15px;
}


/* FOOTER */
footer {
    background-color: #9099A2;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.menu-footer, .menu-redes{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.menu-footer li, .menu-redes li{
    margin: 15px;
}

@media(max-width:600px) {
    nav {
        display:none;
    }
    .hamburguesa {
        display: flex;
        
    }
    .contenedor-imagen {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        padding-top: 20px;
    }

}

@media(max-width:900px) {
    .seccion-presentacion {
        flex-wrap: wrap;
    }